<div class="container d-flex justify-content-center align-items-center">
  <div class="title px-4">
    <h2>Welcome back driver</h2>
    <%= link_to "Don't have an account? Create one!", new_driver_registration_path %>
  </div>
  <div class="driver-login-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn-blue" %>
      </div>
    <% end %>

    <%= render "drivers/shared/links" %>
  </div>
</div>
