
<div class="container">
  <div class="row justify-content-center">
    <div class=".col-sm-12 col-md-8">
      <div class="card-holder">

          <% @orders.each do |order| %>
            <div class="card-sm">
              <div class="text">
                <%= order.user.first_name %> <br>
              </div>
                <!-- <%= order.user.location %> -->
                <p> <%=  order.items.count %> items</p>

              <div class="action-layer">
                <% if order.status %>
                  <%= link_to order_delivered_path(order), method: :post, remote:true  do %>
                  <i class="fas fa-truck picks-action"></i>
                  <%end%> <br>
                <% else %>
                  <i class="far fa-check-circle picks-action"></i>
                <% end %>
                <%= link_to  shopping_list_path(order.shopping_list) do %>
                  <i class="far fa-eye picks-action"></i>
                <% end %>
              </div>
            </div>
          <% end %>

      </div>
    </div>
    <div class=".col-sm-12 col-md-4">
      <div class="shopper-map">

      </div>
    </div>

  </div>
</div>
