<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <% home_link = root_path %>
  <% home_link = new_shopping_list_path if user_signed_in? && !current_user.shopping_list %>
  <% home_link = shopping_list_path(current_user.shopping_list) if user_signed_in? && current_user.shopping_list %>
  <% home_link = shopping_lists_path if driver_signed_in? %>

  <%= link_to home_link, class: "navbar-brand" do %>
    <%= image_tag("New14.png") %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="color: #2780F5">
      <% if user_signed_in? %>
        <li class="nav-item d-flex">
          <%= link_to "Create Shopping List", new_shopping_list_path(current_user), class: "nav-link" %>
          <%= link_to "My Shopping Lists", view_all_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <div class="avatar" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photo.key, height: 400, width: 400, crop: :fill %>') "></div>
          <% else %>
          <div class="avatar" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://kitt.lewagon.com/placeholder/users/arthur-littm')"></div>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% elsif driver_signed_in? %>
        <li class="nav-item">
          <%= link_to "My Picks", picks_path(current_driver), class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_driver.photo.attached? %>
            <div class="avatar" id="navbarDropdown"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_driver.photo.key, height:400, width:400, crop: :fill %>') "></div>
          <% else %>
          <div class="avatar" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://kitt.lewagon.com/placeholder/users/sarahlafer')"></div>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Edit Profile", edit_driver_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_driver_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item px-2">
            <%= link_to "Become A Driver", new_driver_registration_path, class: "border-driver" %>
          </li>
        <li class="nav-item dropdown px-3">
          <div class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user" style="font-weight: lighter;"></i> Login</div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "User Login", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "Driver Login", new_driver_session_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
