<div class="container-fluid">
  <div class="row justify-content-center">
    <div class=".col-sm-12 col-md-3">
    </div>
    <div class=".col-sm-12 col-md-1">
    </div>
    <div class=".col-sm-12 col-md-4 d-sm-inline-flex d-md-inline-flex">
      <div class="card-add mt-5 center">
         <div class="msg mt-3"> Add items to your shopping list here. <br> Then you can post your list to have someone help you with it. </div>
            <div class="card-title ml-4">Grocery List:</div>
            <% if @items %>
            <% @items.each do |i| %>
            <div class="card-items ml-5">
              <%= i.quantity %> x
              <%= i.product_name %>
            </div>
            <% end %>
          <% end %>
          <div class="card-form">
              <%= simple_form_for([@shopping_list, @item], remote: true, class: 'form-inline') do |item| %>
                <%= item.input_field :quantity, size: '5', placeholder: 'Qnty'  %>
                <%= item.input_field :product_name, size: '30', placeholder: 'Product Name' %>
                <%= item.submit "+" , class: "card-btn" %>
              <% end %>
          </div>
          <div class="btn-layer">
            <%= link_to "Post shopping list", shopping_list_path(@shopping_list), class: "btn btn-gradient" %>
          </div>
        </div>
    </div>
    <div class=".col-sm-12 col-md-1">
    </div>
    <div class=".col-sm-12 col-md-3">
    </div>
  </div>
</div>
