
<div class= "mx-3">
  <div class = "row">
    <div class="col-12 col-md-6 col-lg-6 mt-5">
      <% @shopping_lists.each do |shoppinglist|  %>
          <div class="notification mt-2 ml-3">
          <%= image_tag('cart-color.jpg', class: "avatar-large") %>
            <div class="notification-content">

              <p>Order Created by:<strong>  <%= shoppinglist.user.first_name %></strong> </p>
              <p><small>number of items in the shopping list: <%=  shoppinglist.items.count %></small></p>
              <p>
                <% if params[:lat] && params[:lng] %>
                <i class="fas fa-location-arrow"></i>
                <%=  shoppinglist.user.distance_to([params[:lat], params[:lng]]).round%> Km
              <% end %>
              </p>
            </div>

            <div class="notification-actions">
              <%= link_to  shopping_list_path(shoppinglist) do %>
                 <i class="far fa-eye"></i>
              <% end %>
            </div>
          </div>
      <%end%>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
      <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="pk.eyJ1Ijoicm9kb2xmb3AiLCJhIjoiY2s4MDl6cG9sMGNnaDNkcGcyaml4YXJ1MCJ9.fTw_XIDzAzHw5clxchO04A"
      ></div>
    </div>
  </div>
</div>
