<div class= "mx-3">
  <div class = "row">

    <div class="col-12 col-md-6 col-lg-6">
      <div class = "row" >
        <% @shopping_lists.each do |shoppinglist|  %>
          <div class="col-12 col-md-6 col-lg-4">
            <%= link_to  shopping_list_path(shoppinglist), class: "card-click" do %> 
            <!-- style="text-decoration: none;" -->
            <div class="card" style = "border-radius: 3px; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
              <div class="card-body">
                <h5 class="card-title" > <%= shoppinglist.user.first_name %></h5>
                
                <div style = "display: flex; justify-content: space-between;">
                  <p style="font-size: 0.75rem; margin-bottom: 0px">  <%=  shoppinglist.user.items.count %> items </p>
                  <% if params[:lat] && params[:lng] %>
                    <p style="font-size: 0.75rem; margin-bottom: 0px">  
                    <i class="fas fa-location-arrow"></i> 
                    <%=  shoppinglist.user.distance_to([params[:lat], params[:lng]]).round%> Km 
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
      <div 
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="pk.eyJ1Ijoicm9kb2xmb3AiLCJhIjoiY2s4MDl6cG9sMGNnaDNkcGcyaml4YXJ1MCJ9.fTw_XIDzAzHw5clxchO04A"
      ></div>
    </div>
  </div>
</div>
