<div class="container">
  <div class="row justify-content-center ">

    <div class=".col-sm-12 col-md-2">
    </div>
      <div class=".col-sm-12 col-md-4">
          <div class="notification-list mt-5">
            <div class="notification-layer mt-5 mb-4">
              <strong>Grocery List:</strong>
            </div>
            <% if @items %>
              <% @items.each do |i| %>
              <div class="notification-layer mt-3 ml-3">
                <p>
                  <%= i.quantity %> x
                  <%= i.product_name %>
                </p>
              </div>
              <% end %>
            <% end %>
        </div>
    </div>

    <div class=".col-sm-12 col-md-4">
<!-- 1) IF DRIVER: -->

      <% if current_driver %>

        <div class="notification-show mt-5">
          <div class="notification-layer mt-5">
            <p><strong>
              <%if @shopping_list.user.photo.attached? %>
                  <%= cl_image_tag @shopping_list.user.photo.key, class:"avatar" %>
                  <%else%>
                  <%= image_tag('avatar.png', class: "avatar") %>
                  <%end%>
                  <%= @shopping_list.user.first_name %> <%= @shopping_list.user.last_name %>
            </strong></p>
          </div>
          <div class="notification-layer">
            <p><strong>Note from <%= @shopping_list.user.first_name %>:</strong><br>
              <%if @shopping_list.notes%>
                <small>  <%= @shopping_list.notes %> </small>
              <%else%>
                <small> No notes...! Thanks for your help! </small>
              <%end%>
              </p>
          </div>
          <div class="notification-layer1">
            <p>
             <strong> Delivery point:</strong> <br>
             <small class="ml-3"> <%= @shopping_list.user.location %></small>
            </p>
          </div>
        </div>

          <!-- 1.1) IF RESQUEST IS NOT DELIVERED: -->
          <% if @shopping_list.status %>
            <div class="pl-3">
              <%= link_to "Help this user", create_order_path(@shopping_list), class: "btn-gradient " %>

             </div>
          <!-- 1.2) IF RESQUEST IS DELIVERED: -->
          <% else %>
            <div class="pl-3">
              <%= link_to "You've delivered this order. Back!", picks_path(current_driver), class: "btn-gradient " %>
              </div>
          <% end %>

<!-- 2) IF USER: -->

    <% elsif current_user %>
       <div class="notification-show mt-5">
          <div class="notification-layer mt-5">
            <p><strong> Your shopping list has been posted!</strong></p>
            <!-- 2.1) IF NOT DELIVERED: -->
            <%if @shopping_list.status %>
            <p><strong>
                  Wait until someone helps you ... <br>
                  <small>
                    Looks like people is quite busy at this moment, please be patient, a driver will accept your grocery list very soon.
                  </small>
            </strong></p>
            <!-- 2.2) IF  DELIVERED: -->
            <% else %>
            <p><strong>
                 <%= @shopping_list.driver.first_name %> is helping you... <br>
                <small>
                 The driver could contact you during the day, please keep your phone close.
                </small>
            </strong></p>
            <% end %>
          </div>
          <div class="notification-layer mt-3">
            <%if !@shopping_list.notes %>
                <%= simple_form_for(@shopping_list, remote: true) do |shop| %>
                  <%= shop.input_field :notes, class: "form_txtarea", placeholder: 'Write your note here....'  %>
                  <%= shop.submit "Add" , class: "btn-gradient " ,style: "margin-left: 13px"  %>
                <% end %>
            <% end %>
              <%if @shopping_list.notes %>
                <p> <strong>Your Note: </strong> <br>
                     <small> <%= @shopping_list.notes %> </small>
                </p>
              <%end%>
              <div class="mt-1">
                <a href="#" class="mt-5"> <%= link_to "Go to your lists!", view_all_path(current_user), class: "btn-gradient mt-5", style: "margin: 13px"  %> </a>
              </div>
          </div>

        </div>
      <%end%>
    </div>

    <div class=".col-sm-12 col-md-2">
    </div>
  </div>
</div>





