<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% if @items %>
        <% n = 0 %>
        <% @items.each do |i| %>
        <tr>
          <% n += 1 %>
          <th scope="row"><%= n %></th>
          <td><%= i.product_name %></td>
          <td><%= i.quantity %></td>
        </tr>
        <% end %>
      <% end %>
  </tbody>
</table>

<p>Shopping note: </p>
<p><%= @shoppingList.notes %></p>




<% if current_driver %>
  <%= @shoppingList.user.first_name %>
  <%= @shoppingList.user.last_name %>
  <%= @shoppingList.user.location %>
  <!-- Here we need to add, user photo + map + other info? -->
    <%= link_to "help #{@shoppingList.user.first_name} with the shopping list", create_order_path(@shoppingList), class: "btn btn-ghost" %>

<% elsif current_user %>
  <%if @shoppingList.status %>
    <p>Pending....</p>

  <% else %>
    <p>On its way</p>
  <% end %>
<% end %>
