<div class="container">
  <div class="row justify-content-center ">

    <div class=".col-sm-12 col-md-2">
    </div>
      <div class=".col-sm-12 col-md-4">
          <div class="notification-list mt-5">
            <div class="notification-layer mt-5">
              <strong>Grocery List:</strong>
            </div>
            <% if @items %>
              <% @items.each do |i| %>
              <div class="notification-layer mt-3 ml-3">
                <p>
                  <%= i.quantity %> x
                  <%= i.product_name %>
                </p>
              </div>
              <% end %>
            <% end %>
        </div>
    </div>

    <div class=".col-sm-12 col-md-4">
<!-- 1) IF DRIVER: -->

      <% if current_driver %>

        <div class="notification-show mt-5">
          <div class="notification-layer mt-5">
            <p><strong>
                  <%= cl_image_tag current_driver.photo.key, class:"avatar" %>
                  <%= @shopping_list.user.first_name %> <%= @shopping_list.user.last_name %>
            </strong></p>
          </div>
          <div class="notification-layer">
            <p><strong>Note from <%= @shopping_list.user.first_name %>:</strong><br>
              <%if @shopping_list.notes%>
                <small>  <%= @shopping_list.notes %> </small>
              <%else%>
                <small> No notes...! Thanks for your help! </small>
              <%end%>
              </p>
          </div>
          <div class="notification-layer1">
            <p>
              <%= image_tag('map.png', class: "avatar") %>
             <strong> Delivery point:</strong>
             <small> <%= @shopping_list.user.location %></small>
            </p>
          </div>
        </div>

          <!-- 1.1) IF RESQUEST IS NOT DELIVERED: -->
          <% if @shopping_list.status %>
            <div class="pl-5">
              <%= link_to "help #{@shopping_list.user.first_name} with the shopping list", create_order_path(@shopping_list.id), class: "btn btn-blue" %>
            </div>
          <!-- 1.2) IF RESQUEST IS DELIVERED: -->
          <% else %>
            <div class="pl-5">
              <%= link_to "<< Delieverd!... Go back", picks_path(@shopping_list.order), class: "btn btn-blue" %>
              </div>
          <% end %>

<!-- 2) IF USER: -->

    <% elsif current_user %>
       <div class="notification-show mt-5">


          <div class="notification-layer mt-5">
            <!-- 2.1) IF NOT DELIVERED: -->
            <%if @shopping_list.status %>
            <p><strong>
                  Wait until someone helps you ...
            </strong></p>
            <!-- 2.2) IF  DELIVERED: -->
            <% else %>
            <p><strong>
                 <%= @shopping_list.driver.first_name %> is helping you...
            </strong></p>
            <% end %>
          </div>
          <div class="notification-layer">
            <%if !@shopping_list.notes %>
              <div class="card-form">
                <%= simple_form_for(@shopping_list, remote: true) do |shop| %>
                  <%= shop.input :notes %>
                  <%= shop.submit "Add Note" , class: "card-btn"  %>
                <% end %>
              </div>
            <% end %>
              <%if @shopping_list.notes %>
              <p>  <small> Your Notes:  <%= @shopping_list.notes %> </small>
              <%end%>
              </p>
          </div>
        </div>
      <%end%>
    </div>

    <div class=".col-sm-12 col-md-2">
    </div>
  </div>
</div>





